.robot {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 2;
    border-color: #FFFFFF;
    border-style: solid;
    box-sizing: content-box;
}
.robot * {
    position: absolute;
    display: inline-block;
    top: 0;
}
.robot > * {
    left: 50%;
    top: 50%;
}
