.connect-bar {
    position: fixed;
    width: 80vw;
    left: 10vw;
    height: 48px;
    top: -58px;
    transition: top 0.4s ease-in-out;
    background-color: #4F4F4F;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 3px;
}
.connect-bar.active {
    top: 0;
}
.connect-bar * {
    box-sizing: border-box;
    color: #FFFFFF;
}
.connect-bar label {
    position: absolute;
    margin-left: 4px;
    top: 4px;
    font-size: 12px;
}
.connect-bar input {
    position: absolute;
    top: 20px;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
}
.connect-bar .ip {
    left: 0;
    width: 70%;
}
.connect-bar .port {
    right: 0;
    width: 30%;
}
