.toolbar {
    width: 100vw;
    height: 50px;
    background-color: #EFEFEF;
    display: flex;
    border-bottom: 1px solid #AFAFAF;
}
.toolbar .tools {
    flex-grow: 0;
}
.toolbar .padding {
    flex-grow: 1;
}
